* {
  font-family: 'Indie Flower', cursive;
  font-size: x-large;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

canvas,
html {
  height: -webkit-fill-available;
}

button {

  height: 8vh;
  width: 100%;
  z-index: 200;
  border-style: none;
  font-size:3vh;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	padding:10px;
	text-decoration:none;


}

button:hover {
  background-color: transparent;
}
button:active {
  position: relative;
  top: 1px;
}

#selections {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;


}

#intro {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;

  height: 100vh;
  text-align: center;

  display: table-cell;
  vertical-align: middle;
  background-color: black;
  color: white;
}
@media only screen and (min-width: 600px) {
  *{

    font-size: 8vh;
  } 
  button{
    font-size: 4vh;
    height: 10vh;
  }
}